@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

* {
	box-sizing: border-box;
}

/* Light Mode */
body {
	margin: 0;
	text-align: center;
}

.light-theme {
	background-color: #fff;
	color: #444444;
}

.dark-theme {
	background-color: #101018;
	color: #f8f8f8;
}

.dark-theme nav {
	background-color: #060814;
}

/* Note Entries Stylizing */
.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 500px;
	margin: auto;
}

.entries {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
	width: 500px;
	white-space: normal;
	line-height: 27px;
}

.title_entry {
	font-weight: bold;
	padding-bottom: 10px;
}

.note_entry {
	font-size: 20px;
}

.list_item {
	margin-bottom: 40px;
}

/* Add Button stylizing */
.add_note {
	font-size: 18px;
	color: white;
	background: #007bff;
	padding: 10px 10px;
	width: 400px;
	border: none;
	border-radius: 5px;
	font-weight: 900;
}

.add_note:hover {
	background-color: #025dbe;
}

.add_note:focus {
	background-color: #92bdeb;
}

.note_form {
	display: flex;
	justify-content: center;
}

input {
	padding: 12px 15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.entries ul {
	text-align: left;
	list-style: none;
	padding: 10px 10px;
	margin: 20px 0 20px;
}

textarea {
	height: 180px;
	width: 400px;
	resize: none;
}

.title,
textarea {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	padding: 10px 10px;
	margin: 10px 0 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 18px;
}

.welcome {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
	margin: 50px;
	text-align: center;
}

.error {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: red;
}

/** Edit and Delete button stylizing - I may need this in the future */
.edit {
	font-size: 18px;
	color: white;
	background: #007bff;
	padding: 10px 10px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	font-weight: 900;
}

.delete {
	font-size: 18px;
	color: white;
	background: #dc3545;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	font-weight: 900;
}
