@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

* {
	box-sizing: border-box;
}

.entries {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
	margin: 20px;
}

.note-form {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

.note-form input {
	padding: 10px 3px;
	outline: none;
}

.entries ul {
	text-align: center;
	list-style: none;
	padding: 10px 10px;
	margin: 20px 0 0 20px;
}

.add_note {
	font-size: 18px;
	color: white;
	background: #007bff;
	padding: 5px 10px;
	border: none;
}

.container {
	height: 180px;
	width: 500px;
}

.title,
textarea {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 18px;
	padding: 10px 10px;
	margin: 10px 0 20px;
}

.welcome {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
    margin: 50px;
    text-align: center;
}


/* .entries {
	width: 20%;
	margin: 10px;
	padding: 13px;
  border-radius: 5px;
	border: solid lightgray 1px;
} */

.btn-container {
	display: flex;
	justify-content: flex-end;
}

.btn-container button {
	margin-right: 10px;
}

/** Edit and Delete button stylizing */
/* .edit {
    color: white;
    background: #007bff;
    padding: 5px 10px;
    border: none;
  }
  
  .delete {
    color: white;
    background: #dc3545;
    padding: 5px 10px;
    border: none;
  } */
