@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

* {
	box-sizing: border-box;
}

.entries {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
	margin: 20px;
}

.add_note {
	font-size: 18px;
	color: white;
	background: #007bff;
	padding: 5px 10px;
	border: none;
}

.note_form {
	display: flex;
	justify-content: center;
	margin: 50px 0;
}

input {
	padding: 12px 15px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.entries ul {
	text-align: center;
	list-style: none;
	padding: 10px 10px;
	margin: 20px 0 0 20px;
}

textarea {
	height: 180px;
	width: 400px;
}

.title,
textarea {
	font-family: "Roboto", sans-serif;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-size: 18px;
	padding: 10px 10px;
	margin: 10px 0 20px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 18px;
}

.welcome {
	font-family: "Roboto", sans-serif;
	font-size: 22px;
	display: block;
	margin: 50px;
	text-align: center;
}

.error {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: red;
}

/** Edit and Delete button stylizing - I may need this */
/* .edit {
    color: white;
    background: #007bff;
    padding: 5px 10px;
    border: none;
  }
  
  .delete {
    color: white;
    background: #dc3545;
    padding: 5px 10px;
    border: none;
  } */
