@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

.footer {
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 20px;
	text-align: center;
}
