@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700;900&display=swap");

form {
	font-family: "Roboto", sans-serif;
	font-size: 30px;
	text-align: center;
}

.next_page  {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px 10px;
}

input {
	padding: 12px 15px;
	border-radius: 5px;
	border: 1px solid #ddd;
	font-size: 18px;
    min-width: 400px;
    margin: 10px 0 20px;
}

.enter_button {
	text-align: center;
	color: white;
	background: #007bff;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0 20px;
	padding: 10px 10px;
	border: none;
	width: 400px;
	border-radius: 5px;
}

.enter_button:hover {
	background-color: #025dbe;
}

.enter_button:focus {
	background-color: #92bdeb;
}